# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build outputs
/.next/
/out/

# Production build outputs
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env*.local

# Vercel deployment files
.vercel

# System Files
.DS_Store
Thumbs.db
